<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-gapi"
    version="1.0.1">
    <name>Google API Cordova Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/radoralai/cordova-plugin-gapi.git</repo>
    <issue></issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="GapiCordovaPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="GapiCordovaPlugin">
          <param name="android-package" value="com.investiss.GapiCordovaPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <framework src="src/android/framework.gradle" custom="true" type="gradleReference"/>

      <source-file src="src/android/com/investiss/GapiCordovaPlugin.java" target-dir="src/com/investiss/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="GapiCordovaPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="GapiCordovaPlugin">
                <param name="ios-package" value="GapiCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/GapiCordovaPlugin.h" />
        <source-file src="src/ios/GapiCordovaPlugin.m" />
    </platform>
</plugin>
